        /* Group 3 by Itoro*/

        .body {
            background-color: white !important;
        }

        .color {
            color: rgb(209, 207, 211)!important;
        }

        .background {
            background-color: indigo !important;
        }

        .regitrationcardheader,
        .navbar,
        .navbar-ul>li>a {
            background-color: indigo !important;
            color: whitesmoke !important;
            opacity: 80%;
        }

        .resetheadercard {
            background-color: indigo !important;
            color: whitesmoke !important;
            opacity: 80%;
            border-top-left-radius: 23px !important;
        }

        .allbtn {
            background-color: rgb(90, 14, 145) !important;
            color: whitesmoke !important;
            opacity: 80%;
            margin-left: 0px !important;
            width: 100% !important;
        }

        .allbtn:hover {
            background-color: white !important;
            color: rgb(90, 14, 145) !important;
            font-weight: bold;
            border: 1px solid indigo;
            opacity: 80%;
            margin-left: 0px !important;
            width: 100% !important;
        }

        .allbtnreset {
            background-color: rgb(90, 14, 145) !important;
            color: whitesmoke !important;
            opacity: 80%;
            margin-left: 0px !important;
            width: 100% !important;
            border-radius: 18px !important;
        }

        .allbtnreset:hover {
            background-color: white !important;
            color: rgb(90, 14, 145) !important;
            font-weight: bold;
            border: 1px solid indigo;
            opacity: 80%;
            border-radius: 18px !important;
        }

        .resetbordercard {
            border: 1px solid;
            border-bottom-right-radius: 23px !important;
            border-top-left-radius: 23px !important;
        }

        .form-check-label {
            color: indigo !important;
            font-size: 14px !important;
        }

        .registertext {
            color: indigo !important;
            font-size: 13px !important;
        }

        .rounder-1 {
            border-radius: 10px !important;
        }

        .resetinput {
            border-radius: 18px !important;
        }

        .remem {
            margin-top: -5% !important;
        }

        .regitrationcardbody>form>.row>.col-md-6>input {
            color: indigo !important;
            box-shadow: 0 0 0 0.1px rgb(191, 184, 196)!important;
        }

        .appname {
            color: rgb(209, 207, 211)!important;
            border-left: 1px solid rgb(209, 197, 205);
            padding-left: 4px;
        }

        input:focus,
        #password:focus,
        #password-confirm:focus {
            box-shadow: none !important;
            box-shadow: 0 0 0 2px rgb(196, 159, 223) !important;
        }

        .required {
            color: rgb(240, 151, 200);
        }

        .mastercard {
            border-bottom-right-radius: 50px !important;
            border-top-left-radius: 50px !important;
            border-top-right-radius: 10px !important;
            border-bottom-left-radius: 10px !important;
        }

        .regitrationcardheader {
            border-top-left-radius: 50px !important;
            border-top-right-radius: 10px !important;
        }

        .card_title {
            font-size: 25px !important;
            text-shadow: 5px 5px 5px rgb(61, 59, 60);
        }

        .forgetp {
            margin-top: 0% !important;
            float: right !important;
        }

        .btn-link {
            margin-top: -1% !important;
            text-align: center !important;
            display: inline-block !important;
            width: 100% !important;
            font-size: 15px !important;
            color: indigo !important;
        }

        .fa-eye-slash {
            position: relative;
            margin-right: 100% !important;
            margin-top: 30px;
            z-index: 1;
            float: right !important;
            color: indigo;
        }

        .slash {
            position: relative;
            float: right !important;
            margin-top: -57px;
        }

        @media(min-width:200px) and (max-width:767px) {
            .mdbtn {
                display: block !important;
            }
        }
        /* note specify your group b4 u style but if probably a style is style in your
   group is from the first group changes that affect it,it either use it or skip
*/
