        /* Group 3 by Itoro*/
        
        .body {
            background-color: white !important;
        }
        
        .color {
            color: rgb(209, 207, 211)!important;
        }
        
        .background {
            background-color: indigo !important;
        }
        
        .regitrationcardheader,
        .navbar,
        .navbar-ul>li>a {
            background-color: indigo !important;
            color: whitesmoke !important;
            opacity: 80%;
        }
        
        .allbtn {
            background-color: rgb(90, 14, 145) !important;
            color: whitesmoke !important;
            opacity: 80%;
        }
        
        .registertext {
            color: indigo !important;
            font-size: 13px !important;
        }
        
        .rounder-1 {
            border-radius: 10px !important;
        }
        /* .alerter {
            width: fit-content !important;
            background-color: antiquewhite !important;
            padding: 2px !important;
            float: right !important;
        } */
        
        .invalid-tooltip {
            background-color: whitesmoke !important;
        }
        
        .regitrationcardbody>form>.row>.col-md-6>input {
            color: indigo !important;
            box-shadow: 0 0 0 0.1px rgb(191, 184, 196)!important;
        }
        
        .appname {
            color: rgb(209, 207, 211)!important;
            border-left: 1px solid rgb(209, 197, 205);
            padding-left: 4px;
        }
        
        input:focus,
        #password:focus,
        #password-confirm:focus {
            box-shadow: none !important;
            box-shadow: 0 0 0 2px rgb(196, 159, 223) !important;
        }
        
        .required {
            color: rgb(240, 151, 200);
        }
        
        .mastercard {
            border-bottom-right-radius: 50px !important;
            border-top-left-radius: 50px !important;
            border-top-right-radius: 10px !important;
            border-bottom-left-radius: 10px !important;
        }
        
        .regitrationcardheader {
            border-top-left-radius: 50px !important;
            border-top-right-radius: 10px !important;
        }
        
        .card_title {
            font-size: 25px !important;
            text-shadow: 5px 5px 5px rgb(61, 59, 60);
        }
        
        @media(min-width:200px) and (max-width:767px) {
            .mdbtn {
                display: block !important;
            }
        }
        /* note specify your group b4 u style but if probably a style is style in your
   group is from the first group changes that affect it,it either use it or skip
*/